/* основной цвет #212121 */
/* вспомагательный цвет #757575 */
/* белый #FFFFFF */
/* акцент #2196F3 */
/* цвет контактов rgba(255, 255, 255, 0.6) */
/* цвет фона героя #2F303A */
/* цвет вторичного фона #F5F4FA */
ul
{
    list-style: none;
}
a
{
    text-decoration: none;
}
/* styl nav */
.logo
{
    color:#212121;
}
/* .logo:hover,
.logo:focus
{
    color: #2196F3;
} */
.logo-web
{
    color: #2196F3;
/* }
.logo-web:hover,
.logo-web:focus
{
    color:#212121;
} */
/* .logo-studio:hover,
.logo-studio:focus
{
    color: #2196F3;
} */

.site-nav .link
{
    color: #212121;
}
.site-nav .link:hover,
.site-nav .link:focus
{
    color: #2196F3;
}

.contacts-nav a
{
    color: #757575;
}
.contacts-nav .contacts:hover,
.contacts-nav .contacts:focus
{
    color: #2196F3;
}

