/* основной цвет #212121 */
/* вспомагательный цвет #757575 */
/* белый #FFFFFF */
/* акцент #2196F3 */
/* цвет контактов rgba(255, 255, 255, 0.6) */
/* цвет фона героя #2F303A */
/* цвет вторичного фона #F5F4FA */
:root
{
--primayry-text-color: #212121;
--title-text-color: #757575;
--accent-color: #2196f3;
--primayry-white-color: #ffffff;
}
body
{
  background-color: var(--primayry-white-color);
  color: var(--primayry-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}
button
{
  font-family: inherit;
}
/* styl nav */
.logo {
  color:var(--primayry-text-color);
  font-family: Raleway, cursive;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
/* .logo:hover,
.logo:focus
{
    color: #2196F3;
} */
.logo-web {
  color:var(--accent-color);
}
/* 
.logo-web:hover,
.logo-web:focus
{
    color:#212121;
} */
/* .logo-studio:hover,
.logo-studio:focus
{
    color: #2196F3;
} */

.site-nav .link {
  color: var(--primayry-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current
{
    color: var(--accent-color);
}

.contacts-nav a 
{
  color:var(--title-text-color);
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
.contacts-nav .contacts:hover,
.contacts-nav .contacts:focus {
  color: var(--accent-color);
}

/* hero */
.hero {
  background-color: #2f303a;
}
.hero-title {
  color: var(--primayry-white-color);
}
.button
{
    color: var(--primayry-white-color);
    background-color: var(--accent-color);
}
.button:hover,
.button:focus
{
  color: var(--accent-color);
  background-color: var(--primayry-white-color);
}

.section-title
{
  color: var(--primayry-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
/* features */
.title {
  color: var(--primayry-text-color);
}
.title-list {
  color: var(--title-text-color);
}

/* work */
.work
{
    color:var(--primayry-text-color);
}

/* team */
.team .team-list
{
    color: var(--primayry-text-color);
}
.position
{
    color: var(--title-text-color);
}
/* footer */
.address
{
    background-color: #2F303A;
}
footer>.logo
{
    color: var(--primayry-white-color);
}
.address-main
{
    color: var(--primayry-white-color);
}
.address-link
{
    color: rgba(255, 255, 255, 0.6);
}
.address-link:hover,
.address-link:focus
{
  color: var(--accent-color);
}


/* Portfolio.html */
/* Tabs list */

.tabs-link
{
  color: var(--primayry-text-color);
  background-color: #F5F4FA;
}
.tabs-link:hover,
.tabs-link:focus
{
  color: var(--primayry-white-color);
  background-color: var(--accent-color);
}

/* work list */
.work-list
{
  color: var(--primayry-text-color);
}
.work-info
{
  color: var(--title-text-color);
}